<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      Total PNL:
      <span style="color: <%= data.totalPNL < 0 ? 'red' : 'green' %>;"
        ><%= data.totalPNL %> $</span
      >
    </h1>
    <h2>Total Fee: <%= data.totalTransaktionFee %> $</h2>
    <h2
      style="color: <%= data.totalPNL - data.totalTransaktionFee < 0 ? 'red' : 'green' %>;"
    >
      Total Net PNL: <%= data.totalPNL - data.totalTransaktionFee %> $
    </h2>
  </body>
</html>
